<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>type editor</title>
        <div th:replace="admin/fragmentPlugin :: head">
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
            <link rel="stylesheet" href="../../static/css/Navfix.css">
            <link rel="stylesheet" href="../../static/lib/editormd/css/editormd.min.css">
        </div>

</head>
<body>
<!--Navigation-->
    <nav th:replace="admin/fragmentPlugin :: menu(2)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
        <div class ="ui container">
            <div class="ui inverted secondary stackable menu">
                <h2 class="ui teal header item">Blog Editing</h2>
                <a href="#" class="m-item-c-o item mobile-icon-hide"><i class="home icon"></i>Blogs</a>
                <a href="#" class="m-item-c-o item mobile-icon-hide"><i class="idea icon"></i>Category</a>
                <a href="#" class="m-item-c-o item mobile-icon-hide"><i class="tags icon"></i>Tags</a>
                <div class="right menu">
                    <div class="ui dropdown item">
                        <div class="text">
                            <img src="https://picsum.photos/id/237/100/100" alt="" class="ui avatar image">
                            Zilin
                        </div>
                        <i class="ui dropdown icon"></i>
                        <div class="menu">
                            <a href="#" class="item">log out</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
            <i class="sidebar icon"></i>
        </a>
    </nav>
    <div class="ui attached teal pointing menu">
        <div class="ui container">
            <div class="right menu">
                <a href="#" th:href="@{/admin/types/input}" class="active olive item">post</a>
                <a href="#"th:href="@{/admin/types}"  class="item">list</a>
            </div>
        </div>
    </div>
<!--Content-->
    <div class="m-padded-tb-big m-container-regular">
        <div class="ui container">
            <form class="ui form" action="" method="post" th:object="${type}" th:action="*{id}==null ? @{/admin/types} : @{/admin/types/{id}(id=*{id})} "  >
                <input type="hidden" name="id" th:value="*{id}">
                <div class=" field">
                    <div class="ui left labeled input">
                        <label class="ui teal basic label">name</label>
                        <input type="text" name="name" placeholder="category name " th:value="*{name}">
                    </div>
                </div>
                <!----Prompt error message---->
                <div class="ui error message"></div>

        <div class="ui negative message" th:if="${#fields.hasErrors('name')}"  >
         <i class="close icon"></i>
         <div class="header">validation fails</div>
         <p th:errors="*{name}">do not</p>
        </div>


                <div class="ui right aligned container">
                    <button type="button" class="ui button" onclick="window.history.go(-1)">back</button>
                    <button class="ui teal button">post</button>
                </div>
            </form>
        </div>
    </div>
<br>
<br>
<br>
<br>
<br>
<br>
<!--footer-->
    <footer th:replace="admin/fragmentPlugin :: foot" class="ui inverted vertical segment m-padded-tb-massive">
        <div class="ui center aligned container">
            <div class="ui inverted divided stackable grid">
                <div class="three wide column">
                    <div class="ui inverted link list">
                        <div class="item">
                        <img src="../../static/images/wechat001.jpeg" class=" ui rounded image" alt="" style="width: 110px">
                    </div>
                        </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header">Recent Blogs</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">User Story</a>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header">Contct Me</h4>
                    <div class="ui inverted link list">
                        <p class="m-opacity-min">lzlazmmaster@gmail.com</p>
                        <p class="m-opacity-min">zli22@wpi.edu</p>
                        <p class="m-opacity-min">Github:</p>
                    </div>
                </div>
                <div class="seven wide column">
                    <h4 class="ui inverted header">About this Blog</h4>
                    <div class="ui inverted link list">
                        <p class="m-opacity-min">Built by Semantic UI, Springboot and Mysql</p>
                    </div>
                </div>
            </div>
            <div class="ui inverted section divider"></div>
            <p class="m-text-spaced m-opacity-small">Copyright © Zilin Li</p>
        </div>
    </footer>
<th:block th:replace="admin/fragmentPlugin :: myscript">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <script src="../../static/lib/editormd/editormd.min.js"></script>
</th:block>


<script>
    var testEditor;

    $(function() {
        testEditor = editormd("m-editormd", {
            width   : "90%",
            height  : 640,
            syncScrolling : "single",
            path    : "../../static/lib/editormd/lib/"
        });

    });

    $('.menu.toggle').click(function () {
        $('.m-item-c-o').toggleClass('mobile-icon-hide');
    });
    $('.ui.dropdown').dropdown();
    $('.ui.form').form({
        fields : {
            title:{
                identifier:'namee',
                rules:[{
                    type:'empty',
                    prompt:'please enter a  name'
                }]
            }
        }
    });
</script>
</body>
</html>