<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>search result</title>
    <div th:replace="fragmentPlugin :: head">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
        <link rel="stylesheet" href="../static/css/Navfix.css">
    </div>
</head>
<body>
<!--Navigation-->
    <nav th:replace="fragmentPlugin :: menu(0)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
        <div class ="ui container">
            <div class="ui inverted secondary stackable menu">
                <h2 class="ui teal header item">Search Result</h2>
                <a href="#" class="m-item-c-o item mobile-icon-hide"><i class="home icon"></i>HomePage</a>
                <a href="#" class="m-item-c-o item mobile-icon-hide"><i class="idea icon"></i>Category</a>
                <a href="#" class="m-item-c-o item mobile-icon-hide"><i class="tags icon"></i>Tags</a>
                <a href="#" class="m-item-c-o item mobile-icon-hide"><i class="clone icon"></i>Archive</a>
                <a href="#" class="m-item-c-o item mobile-icon-hide"><i class="info icon"></i>About Me</a>
                <!--SearchBox-->
                <div class="right item">
                    <div class="ui icon inverted transparent input">
                        <input type="text" placeholder="Search...">
                        <i class="search link icon"></i>
                    </div>
                </div>
            </div>
        </div>
        <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
            <i class="sidebar icon"></i>
        </a>
    </nav>
<!--Content-->
    <div class="m-padded-tb-big m-container-small">
        <div class="ui container">
            <!---Header--->
            <div class="ui attached segment" >
                <div class="ui middle aligned two column grid">
                    <div class="column">
                        <h3 class="ui teal header">search result</h3>
                    </div>
                    <div class="right aligned column">
                        <h3 class="ui orange header m-inline-block m-text-thin" th:text="${page.totalElements}"  > 5</h3>blogs
                    </div>
                </div>
            </div>
                
            </div>
            <div class="ui top attached teal segment">
                <div class="ui vertical segment m-padded-tb-large  m-padded-left-right-mobile-clear" th:each="blog : ${page.content}">
                    <div class="ui grid mobile reversed stackable">
                        <div class="eleven wide column">
                            <h3 class="ui header"><a href="#" th:href="@{/blog/{id}(id=${blog.id})}"  target="_blank" th:text="${blog.title}" >Why</a>  </h3>
                            <p class="m-text-fontOne" th:text="|${blog.description}......|"> Different framework</p>
                            <div class="ui grid" >
                                <div class="eleven wide column">
                                    <div class="ui horizontal link list">
                                        <div class="item">
                                            <img src="https://picsum.photos/id/1011/100/100" alt=""  th:src="@{${blog.user.avatar}}" class="ui avatar image">
                                            <div class="content">
                                                <a href="#" class="header" th:text="${blog.user.nickname}">Zilin Li</a>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <i class="calendar icon"></i> <span th:text="${#dates.format(blog.updateTime,'yyyy-MM-dd')}">2020-5-10</span>
                                        </div>
                                        <div class="item">
                                            <i class="eye icon"></i> <span th:text="${blog.views}">111</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="right aligned five wide column">
                                    <a href="#" target="_blank" class="ui label teal basic m-padded-tiny" th:text="${blog.type.name}" >java</a>
                                </div>
                            </div>
                        </div>
                        <div class="five wide column">
                            <a href="#" target="_blank">
                                <img src="https://picsum.photos/id/1000//800/450" alt="" class="ui rounded image"th:href="@{/blog/{id}(id=${blog.id})}"  th:src="@{${blog.firstPicture}}">
                            </a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="ui bottom attached segment"  th:if="${page.totalPages}>1">
                <div class="ui middle aligned two column grid">
                    <div class="column">
                        <a href="#" class="ui teal mini basic button" th:href="@{/(page=${page.number}-1)}" th:unless="${page.first}" >last page</a>
                    </div>
                    <div class="right aligned column">
                        <a href="#" class="ui teal mini basic button" th:href="@{/(page=${page.number}+1)}" th:unless="${page.last}"  >next page</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<!--footer-->
    <footer th:replace="fragmentPlugin :: foot" class="ui inverted vertical segment m-padded-tb-small">
    <div class="ui center aligned container">
        <div class="ui inverted divided stackable grid">
            <div class="three wide column">
                <div class="ui inverted link list">
                    <div class="item m-margin-top-reg">
                        <img src="../static/images/WechatIMG6.jpeg" class=" ui rounded image" alt="" style="width: 110px">
                    </div>
                </div>
            </div>
            <div class="three wide column">
                <br>
                <h4 class="ui inverted header">Recent Blogs</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">User Story</a>
                </div>
            </div>
            <div class="three wide column">
                <br>
                <h4 class="ui inverted header">Contct Me</h4>
                <div class="ui inverted link list">
                    <p class="m-opacity-min">lzlazmmaster@gmail.com</p>
                    <p class="m-opacity-min">zli22@wpi.edu</p>
                    <p class="m-opacity-min">Github:</p>
                </div>
            </div>
            <div class="seven wide column">
                <br>
                <h4 class="ui inverted header">About this Blog</h4>
                <div class="ui inverted link list">
                    <p class="m-opacity-min">Built by Semantic UI, Springboot and Mysql</p>
                </div>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <p class="m-text-spaced m-opacity-small">Copyright © Zilin Li</p>
    </div>
</footer>
<!--<th:block th:replace="fragmentPlugin :: myscript">-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<!--</th:block>-->
<script>
    $('.menu.toggle').click(function () {
        $('.m-item-c-o').toggleClass('mobile-icon-hide');
    });
    $('#paybutton').popup({
        popup:$('.payWe.popup'),
        on:'click',
        position:'bottom center'
    })
</script>
</body>
</html>